<%- contentFor('privado') %>
    <%- contentFor('body')%>
        <script>
            function upd() {
                var compra = document.getElementById('compra').value;
                var venta = document.getElementById('venta').value;
                var pedido = 0.00;
                var recibo = 0.00;
                var total = 0.00;
                var cambio = 0.00;
                var divisa = document.getElementById('pedido').placeholder;
                pedido = document.getElementById('pedido').value;
                recibo = document.getElementById('recibo').value;
                document.getElementById('recibo').min = recibo;
                document.getElementById('recibo').setCustomValidity('Cantidad insuficiente');
                if (divisa == "USD") {
                    total = (pedido) * venta;
                    total = Math.round((total + Number.EPSILON) * 100) / 100;
                    cambio = (recibo - pedido);
                    cambio = Math.round((cambio + Number.EPSILON) * 100) / 100;
                    document.getElementById('tipo').value = 'VENTA';
                }
                if (divisa == "MXN") {
                    total = (pedido) * compra;
                    total = Math.round((total + Number.EPSILON) * 100) / 100;
                    cambio = (recibo - pedido);
                    cambio = Math.round((cambio + Number.EPSILON) * 100) / 100;
                    document.getElementById('tipo').value = 'COMPRA';
                }
                if (cambio < 0) { document.getElementById('cambio').style = "color:red;"; }
                else { document.getElementById('cambio').style = "color:default;"; }
                if ((cambio % 1) == 0) cambio = cambio + '.00';
                if ((total % 1) == 0) total = total + '.00';
                document.getElementById('cambio').value = cambio;
                document.getElementById('total').value = total;
            }
        </script>
        <div class="row pt-3">
            <div class="col-3"></div>
            <div class="col-6">
                <p class="text-center cont-head">
                    VENTA 1 USD = <%=TC.venta%> MXN <br>
                        COMPRA 1 MXN = <%=TC.compra%> USD
                </p>
                <hr>
            </div>
        </div>
        <div class="container cont-body position-relative">
            <div class="position-absolute start-50 translate-middle-x">
                <div class="row">
                    <form action="/compraventa" method="POST">
                        <div class="text-center pb-3">
                            <%-state.btnSw%>
                        </div><br>
                    </form>
                    <form action="/ticket" method="POST">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><b>PEDIDO</b></span>
                            <input type="number" class="form-control" id="pedido" name='PEDIDO'
                                oninput="upd(),this.setCustomValidity('')" step="0.01" required
                                placeholder="<%=state.L%>">
                            <span class="input-group-text">
                                <%=state.L%>
                            </span>
                            <span class="input-group-text"><b>RECIBO</b></span>
                            <input type="number" class="form-control" id="recibo" name='RECIBIDO'
                                oninput="upd(),this.setCustomValidity('')" step="0.01" required
                                placeholder="<%=state.L%>">
                            <span class="input-group-text">
                                <%=state.L%>
                            </span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><b>TOTAL</b></span>
                            <input type="number" class="form-control" id="total" placeholder="<%=state.R%>" disabled>
                            <span class="input-group-text">
                                <%=state.R%>
                            </span>
                            <span class="input-group-text"><b>CAMBIO</b></span>
                            <input type="number" class="form-control" id="cambio" placeholder="<%=state.L%>" disabled>
                            <span class="input-group-text">
                                <%=state.L%>
                            </span>
                            <input type="hidden" name="tipoCambio" id="tipo">
                        </div>
                        <div class="text-center pt-3">
                            <button class="btn btn-success" type="submit">
                                <%=state.btnSnd %>
                            </button>
                        </div><br>
                    </form>
                    <hr>
                    <p class="text-center cont-head">CAJA ACTUAL</p> <br>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><b>USD</b></span>
                        <input type="text" class="form-control" disabled value="<%=caja.usdCIERRE%>">
                        <span class="input-group-text"><b>MXN</b></span>
                        <input type="text" class="form-control" disabled value="<%=caja.mxnCIERRE%>">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="venta" value="<%=TC.venta%>">
        <input type="hidden" id="compra" value="<%=TC.compra%>">